<template>
	<nav class="navbar is-info" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <strong>Corza</strong>
              <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item">
                Inicio
              </a>
     <!--          <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  More
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    About
                  </a>
                </div>
              </div> -->
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <figure class="image is-32x32">
                 <img src="https://bulma.io/images/placeholders/32x32.png" class="is-rounded">
                </figure>
              </div>
              <a class="navbar-item">
                  {{ fullName }}
              </a>
              <a class="navbar-item" href="/logout">
                  Terminar
              </a>
            </div>
          </div>
        </nav>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {

    created() {
      this.userLoginLoad()
    },

    methods: {
      ...mapActions({
        userLoginLoad: 'user/loadUser'
      })
    },

    computed: {
      ...mapGetters({
        fullName: 'user/fullName'
      })
    }
  }
</script>