<template>
<div>		
	<nav-bar v-if='$route.path != "/login"'></nav-bar>
	<router-view></router-view>
</div>
</template>

<script>
	import NavBar from './layouts/NavBar'

	export default {
		components: { NavBar },
		created(){
			//console.log(this.$route)
		}
	}

</script>