<template>
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Comenzar operacion</h3>
                <p class="subtitle has-text-grey">Ingrese credenciales.</p>
                <div class="box">
                    <form @submit.prevent='login'>
                        <div class="notification is-danger has-text-left" v-if='error.length != 0'>
                            <a href="#" class="delete"></a>
                            <strong>
                                Verificar los campos.
                            </strong>
                            <ul>
                                <li v-for='e in error.errors' v-text='e[0]'></li>
                            </ul>
                        </div>
                        <img src="/img/corza-logo.png" alt="">
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="text" placeholder="Documento" :disabled='sending' autofocus="" v-model='document'>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="text" placeholder="Paquete" :disabled='sending' v-model='code_package' >
                            </div>
                        </div>
                        <button class="button is-block is-info is-large is-fullwidth" :class="sending ? 'is-loading' : ''" @click.prevent='login'>Entrar</button>
                    </form>
                    <img src="/img/syscor-logo.png" alt="">
                </div>
                <p class="has-text-grey">
                    <a href="#">Necesita ayuda?</a>
                </p>
            </div>
        </div>
    </div>
</section>
</template>

<script>
import { mapMutations } from 'vuex'

export default {

    data() {
        return {
            document: '',
            code_package: '',

            sending: false,
            error: []
        }
    },

    methods: {
        ...mapMutations({
            setUser: 'user/setUser',
            setLectura: 'productions/setLectura',
            newPaquete: 'productions/newPaquete',
            pushPaquete: 'productions/pushPaquete',
        }),

        login () {
            this.toggleSending()
            axios.post('/login', { doc: this.document, code: this.code_package })
                .then(({data}) => {
                    this.setUser(data.user)
                    this.setLectura(data.lectura)
                    this.newPaquete(data.paquete)
                    this.pushPaquete(data.paquete)
                    this.$router.push(`productions/${data.paquete.CODIGO}`)
                })
                .catch(({response}) => {
                    this.error = response.data
                    this.toggleSending()
                })
        },

        toggleSending () {
            this.sending = !this.sending
        }
    }

}
</script>