<template>
<div class="section">		
	<div class="container">
		<div class="card">
	        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
	          <div class="navbar-brand">
	            <div class="navbar-item">
	              Sesion {{ lectura.PK }}
	            </div>
	          </div>

	          <div class="navbar-menu">
	              <div class="navbar-end">
	                  <div class="navbar-item">
	                    <div class="field">
	                      <p class="control has-icons-left has-icons-right">
	                        <input class="input" type="email" placeholder="CODIGO PAQUETE" v-model='new_code' @keyup.enter='newCode'>
	                        <span class="icon is-small is-left">
	                          <i class="fa fa-barcode"></i>
	                        </span>
	                      </p>
	                    </div>
	                  </div>  
	              </div>
	          </div>
	        </nav>
	        
		    <div class="card-content">
		    	<div class="notification is-danger has-text-left" v-if='errors.length != 0'>
                    <a href="#" class="delete"></a>
                    <strong>
                        Verificar los campos.
                    </strong>
                    <ul>
                        <li v-for='e in errors' v-text='e[0]'></li>
                    </ul>
                </div>
		        <h3 class="subtitle">Informacion de la session</h3>
		        <br>
		        <nav class="level">
		          <div class="level-item has-text-centered">
		            <div>
		              <p class="heading">Inicio</p>
		              <p class="title">{{ reloj }}</p>
		            </div>
		          </div>
		          <div class="level-item has-text-centered">
		            <div>
		              <p class="heading">Tiempo improductivo</p>
		              <p class="title">5:00:20</p>
		            </div>
		          </div>
		          <div class="level-item has-text-centered">
		            <div>
		              <p class="heading">Total unidades</p>
		              <p class="title">{{ totalUnidades }}</p>
		            </div>
		          </div>
		          <div class="level-item has-text-centered">
		            <div>
		              <p class="heading">Incentivos</p>
		              <p class="title">${{ sumaDeIncentivos }}</p>
		            </div>
		          </div>
		        </nav>
		        <h3 class="subtitle">Paquete en proceso.</h3>

		       <nav class="level">
		          <div class="level-item has-text-centered">
		            <div>
		              <p class="heading">Paquete</p>
		              <p class="title">{{ paquete.CODIGO }}</p>
		            </div>
		          </div>
		          <div class="level-item has-text-centered">
		            <div>
		              <p class="heading">Unidades</p>
		              <p class="title">{{ paquete.info_lote.UNIDADES }}</p>
		            </div>
		          </div>
		          <div class="level-item has-text-centered">
		            <div>
		              <p class="heading">Tiempo</p>
		              <p class="title">{{ duracionDelPaquete }} min</p>
		            </div>
		          </div>
		          <div class="level-item has-text-centered">
		            <div>
		              <p class="heading">Tiempo Restante</p>
		              <p class="title">{{ DuracionPaqueteSecount }} seg</p>
		            </div>
		          </div>
		        </nav>
		        <h3 class="subtitle">Eficiencia {{ eficiencia }}</h3>
		        <progress class="progress" :class='progressColor'  ref='progress' max="100">90%</progress>

		    </div>
		</div>
	</div>
</div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
export default {

	data() {
		return {
			reloj: '',
			new_code: '',
			DuracionPaqueteSecount: '',
			tiempo_producido: 0,
			tiempo_transcurrido: 0,
			incentivos: 0,
			total_incentivos: 0,
			errors: []
		}
	},
	created() {
		this.startReloj()
	},
	mounted(){
		this.calcularSegundos()
	},
	computed: {
		...mapGetters({
			document: 'user/document',
			lectura: 'productions/getLectura',
			paquete: 'productions/paqueteWorking',
			totalUnidades: 'productions/totalUnidades',
			tiempoProducido: 'productions/tiempoProducido',
			duracionDelPaquete: 'productions/duracionDelPaquete'
		}),

		eficiencia(){
			let eficiencia =  this.tiempoProducido / this.tiempo_transcurrido
			return eficiencia.toFixed(2)
		},

		eficienciaPorcent(){
			return this.eficiencia * 100
		},

		progressColor (){
			if(this.eficienciaPorcent >= 80) {
				return 'is-success'
			}
			if(this.eficienciaPorcent <= 79 && this.eficienciaPorcent >= 45) {
				return 'is-warning'
			}
			if(this.eficienciaPorcent <= 45) {
				return 'is-danger'
			}

		},

		sumaDeIncentivos () {
			let eficiencia = parseFloat(this.eficiencia)
			let total_incentivos = parseFloat(this.total_incentivos) 
			let total = (eficiencia + total_incentivos)
			return total.toFixed(2)
		}
	},
	methods: {
		...mapMutations({
			newPaquete: 'productions/newPaquete',
			pushPaquete: 'productions/pushPaquete',
		}),

		newCode(){
			this.errors = []
			
			this.$router.push(`/productions/${this.new_code}`)
			
			axios.post(`/api/productions/new_code/${this.new_code}/${this.lectura.PK}/${this.document}`)
				.then(({data}) => {
					this.newPaquete(data['paquete'])
					this.pushPaquete(data['paquete'])
					this.calcularSegundos()
					this.total_incentivos += this.incentivos
					this.new_code = ''
				})
				.catch(({response}) => {
					this.errors = response.data
				})
		},

		startReloj() {			
			setInterval(() => {
				this.reloj = Moment().format('LTS')
				this.calcularTime()
				this.calcularIncentivos()
			},1000)
		},


		calcularSegundos() {
			let s = (this.duracionDelPaquete * 60)
			this.DuracionPaqueteSecount = s
		},

		calcularTime() {
			this.tiempo_transcurrido++
			this.DuracionPaqueteSecount--
			this.$refs.progress.value = this.eficienciaPorcent
		},

		calcularIncentivos (){
			this.incentivos
            let suma = 0
            let eficiencia = this.eficienciaPorcent

            if(eficiencia > 75 && eficiencia < 85){
				suma = (( this.tiempoProducido - this.tiempo_transcurrido ) * 75) * 0.6821
				this.incentivos = suma
				//return suma.toFixed(2)
            }else{
            	if(eficiencia >= 85 && eficiencia < 95) {
					suma = (( this.tiempoProducido - this.tiempo_transcurrido ) * 85) * 0.6821
					suma += (( this.tiempoProducido - this.tiempo_transcurrido ) * 75) * 1.0233
					this.incentivos = suma
            	}else{
            		if(eficiencia >= 95) {
						suma = (( this.tiempoProducido - this.tiempo_transcurrido ) * 85) * 0.6821
						suma += (( this.tiempoProducido - this.tiempo_transcurrido ) * 75) * 1.0233
						suma += (( this.tiempoProducido - this.tiempo_transcurrido ) * 95) * 1.3643
						this.incentivos = suma

            		}
            	}
            }
		}
		
	}
    
}
</script>
